{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src/"
        }
      }
    ],
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "html", "c"],
        "plugins": ["show-language"],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
